.level-layout {
  padding-left: 0px;
  height: 100% !important;
  :global {
    .ant-layout-content {
      height: 100%;
    }
  }
  .level-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    height: 100%;
    .vertical-sub-menu {
      width: 210px;
      height: 100%;
      background: #fff;
      padding: 6px 0;
    }
  }
  .user-info {
    min-width: 100px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    .lang-box {
      width: 80px;
      margin-right: 10px;
      &.ant-select {
        font-size: 12px;
      }
      .ant-select-selection {
        background: transparent;
        border: 1px solid #a7a5a5;
        color: #fff;
      }
      .ant-select-arrow {
        color: #fff;
        font-size: 10px;
      }
    }
    .ant-dropdown-trigger {
      height: 54px;
      line-height: 54px;
    }
    .user-head {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      margin-top: -4px;
    }
    .user-name {
      line-height: 54px;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.85);
    }
    .icon {
      line-height: 54px;
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

.page-view {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 20px 10px 20px;
  padding-bottom: 10px;
  .top-info {
    background: #f0f2f5;
    padding: 10px 10px 10px 0;
  }
  .view-con {
    flex: 1;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
  }
}
